
body{
    background-image: 
        url(guns.jpg),
             url(guns.jpg),
                 url(ax7.png),
                     url(ax7.png),
        url(ax7.png),
            url(ax7.png),
                url(linhaa7x.png),
                    url(linhaa7x.png),
        url(linhaa7x.png),
             url(linhaa7x.png),
                url(ax7.png),
                    url(ax7.png),
        url(ax7.png),
            url(ax7.png),
                url(player.png),
                    url(player.png),
        url(player.png),
            url(player.png),
                url(player.png),
                    url(player.png),
        url(player.png),
            url(player.png),
                url(player.png),
                    url(player.png),
        url(guns.jpg),
            url(guns.jpg);
    background-size: 
        500px 200px, 
             500px 200px, 
                 400px 50px, 
                    400px 50px, 
        400px 50px, 
             400px 50px,
                400px 300px, 
                     400px 300px, 
         400px 300px, 
            400px 300px,  
                400px 50px,
                    400px 50px,
        400px 50px,
            400px 50px,
                200px 200px,
                    200px 200px,
        200px 200px,
            200px 200px,
                200px 200px,
                    200px 200px,
        200px 200px,
            200px 200px,
                200px 200px,
                    200px 200px,
        500px 200px,
            500px 200px;
    background-repeat: no-repeat; /* Evita que a imagem de fundo se repita */
        background-position: 
            960px 20px, 
                -150px 20px, 
                    -100px -10px, 
                        300px -10px, 
            700px -10px, 
                1100px -10px,
                    170px 110px, 
                         -190px 110px, 
            710px 110px, 
                1075px 110px, 
                    116px 1350px,
                        510px 1350px,
            -280px 1350px,
                904px 1350px,
                    550px 420px,
                        45px 420px,
            1055px 420,
                45px 685px,
                    550px 685px,
                        1055px 685px,
            45px 950px,
                550px 950px,
                    1055px 950px,
                        550px 1215px,
            960px 1115px,
                -150px 1115px;
    background-color: hsl(28, 66%, 83%);
}
    

    
    .colorido {
        color: red; /* Cor da parte colorida */
    }
    .paragrafo-compacto {
        line-height: 0; /* Define o espaçamento entre linhas para 1, o que significa que não haverá espaço extra entre as linhas */
            margin-bottom: 0; /* Remove o espaçamento na parte inferior do parágrafo */
    }
        .texto-deslocado {
            padding: 0px -50px; /* Adiciona espaço acima do texto */
        }
        .texto-deslocado1 {
            padding-top: 20px; /* Adiciona espaço acima do texto */
        }
        .paragrafo-compacto2 {
            line-height: 1; /* Define o espaçamento entre linhas para 1, o que significa que não haverá espaço extra entre as linhas */
            margin-bottom: 0; /* Remove o espaçamento na parte inferior do parágrafo */
}
    .paragrafo-compacto3{
        margin-top: 55px;
        margin-left: 95px;

    }

.texto-deslocado5 {
    padding-top: 175px;
    padding-bottom: 50px; 
}

.texto-deslocado4 {
    padding-top: 75px; /* Adiciona espaço acima do texto */
        padding-bottom: 50px;
}

.texto-deslocado6 {
    padding-bottom: 250px;
        padding-top: 180px; 
}

.texto-deslocado2{
    padding-bottom: 50px;

}


.texto-deslocado3 {
    padding-inline: 10px;
}

.imagem-rotacionada {
    transform: rotate(10deg); /* Define o ângulo de rotação da imagem */
}
.imagem-modificada {
    width: 300px; /* Define a largura da imagem */
        height: 40px; /* Mantém a proporção da imagem ao alterar a largura */
}
.imagem-posicionada {
    margin-left: 100px; /* Ajusta a margem esquerda para posicionar a imagem */
        margin-top: 20px;
}
p{
    color: black;
};
